<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Title</h1>
  <table>
    <thead>
      <tr>
        <th>Delete</th>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight No.</th>
        <th>Departs</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(flight => { %>

        <tr>
          <td>
            <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST">
              <button>X</button>
            </form>
          </td>
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs.toDateString() %> </td>
          <td><a href="/flights/<%= flight._id %>" <%- title === 'Flight Details' ? 'class="active"' : '' %>>Details</a></td>
          
          </tr>
          <%# Close the forEach using EJS here %>
        <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>